/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url(/assets/images/tecido-de-camurca-mate-azul-claro-textura-de-veludo-de-fundo-de-feltro_113767-562.jpg);
  padding: 10px 20px;
  font-weight: 700;
}

.navbar .logo {
  margin-right: 5%;
  align-self: center;
}

.navbar .logo img {
  width: 50px;
  height: 50px;
}

.navbar-nav .nav-link {
  color: #fff;
  transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
  color: #A9A9A9;
}

.navbar-nav .nav-link.active {
  font-weight: bold;
  color: #A9A9A9;
}

/* Ajustes do Menu Hamburguer em Telas Pequenas */
.navbar-toggler {
  border-color: #A9A9A9;
}

.navbar-nav {
  margin-top: 10px;
}

@media (max-width: 991px) {
  .navbar-nav {
    text-align: right;
  }
  .navbar-toggler-icon {
    background-color: #A9A9A9; /* Cor do ícone de hambúrguer */
  }
}
