<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <!-- Logo -->
    <div class="logo">
      <img src="/assets/images/Mestres-da-Sinuca.png" alt="Logo">
    </div>

    <!-- Botão de menu hamburguer -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links do menu -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto"> <!-- "ms-auto" para alinhar à direita -->
        <li class="nav-item">
          <a class="nav-link" href="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Registrar Partida</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Ranking</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Histórico de Jogos</a>
        </li>
      </ul>

      <!-- Ações do Usuário -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Perfil</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
