<div class="cadastro-container">
  <h1>Cadastro</h1>

  <form id="cadastro-form">
      <input type="text" id="usuario" name="email" required placeholder="Usuario">
      <input type="email" id="email" name="email" required placeholder="Email">
      <input type="password" id="password" name="password" required placeholder="Senha">
      <app-botao route="/home"> Cadastrar </app-botao>
  </form>

  <div class="label-login">
    <p>Já é membro?</p>
    <a href="/login"><strong>Faça Login</strong></a>
  </div>


</div>
