.game-card {
  padding: 1rem;
  border: 1px solid var(--primary-color);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s;
}
.game-card:hover {
  transform: scale(1.05);
}
