/* Variáveis globais */
:root {
  --cor-de-fundo-base: linear-gradient(45deg, #006400, #008000, #228B22, #32CD32);

  --primary-color: #007bff;
  --secondary-color: #6c757d;
  /* --background-color: #f5f5f5; */
  --text-color: #333;

  /*Espaçamentos */
  --space-small: 8px;
  --space-medium: 16px;
  --space-large: 32px;

  /* Tipografia */
  --font-size-small: 12px;
  --font-size-medium: 16px;
  --font-size-large: 24px;
  --font-weight-normal: 400;
  --font-weight-bold: 700;

  /* Sombra */
  --box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Remove margens e paddings padrão */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Define altura e largura completas */
html, body, app-root {
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif; /* Fonte padrão */
  /* background-color: var(--cor-de-fundo-base); */
  color: var(--text-color);
}

/* Corpo centralizado */
body, app-root {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  min-height: 100vh; /* Garante altura total da tela */
  min-width: 100vh; /* Garante largura total da tela */
  background-image: url(assets/images/billiard.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
}

app-root {
  justify-self: center;
}

/* Estilo global para links */
a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

/* Estilo global para botões */
button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  border-radius: 4px;
  transition: background-color 0.3s;
  box-shadow: var(--box-shadow);
}

button:hover {
  background-color: var(--primary-color);
  color: #fff;
}

/* Contêiner principal */
.container {
  margin: var(--space-medium) auto;
  padding: var(--space-large);
  max-width: 1200px;
}

/* Classes utilitárias */
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}

/* Responsividade */
@media (max-width: 768px) {
  .container {
    padding: var(--space-medium);
  }

  body {
    font-size: var(--font-size-small);
  }
}
