.home-container {
  min-height: 100vh;
  display: grid;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  padding: 2vh;
  text-align: center;
  background-color: rgba(245, 245, 245, 0.8);
}

.home-container p {
  color: red;

}


/* css provisorio */

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.header {
  text-align: center;
  margin-bottom: 30px;
}
.cards {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 30px;
}
.card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  flex: 1;
}
.card.first {
  flex: 1.2;
  font-size: 1.2em;
}
.table-container {
  overflow-x: auto;
}
table {
  width: 100%;
  border-collapse: collapse;
}
th, td {
  padding: 10px;
  border: 1px solid #dddddd;
  text-align: left;
}
th {
  background-color: #f2f2f2;
}
