<div class="home-container">
  <div class="container">
    <div class="header">
      <h1>Melhores do mês</h1>
    </div>
    <div class="cards">
      <app-card
        *ngFor="let player of players; let i = index"
        [player]="player"
        [isFirst]="i === 0"
        [isSecond]="i === 1"
        [isThird]="i === 2"
        [isMVP]="player.isMVP"
      ></app-card>
    </div>
  </div>

  <div class="table-container">
    <h2>Resultado da semana</h2>
    <table>
        <thead>
            <tr>
                <th>Posição</th>
                <th>Nome</th>
                <th>Time</th>
                <th>Pontuação</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>4</td>
                <td>Jogador 4</td>
                <td>Time A</td>
                <td>90</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Jogador 5</td>
                <td>Time B</td>
                <td>85</td>
            </tr>
            <!-- Adicione mais jogadores conforme necessário -->
        </tbody>
    </table>
  </div>

</div>

